.home-container {
  background-image: linear-gradient(
      296deg,
      rgba(0, 157, 255, 0.54),
      #ffffff00 22%
    ),
    linear-gradient(134deg, rgb(85, 0, 255) 43%, rgba(255, 255, 255, 0)),
    url(../../assets/Business-VoIP-Phone-Service.jpg);
  background-position: left 35% bottom 15%;
  background-size: cover;

  .home-hero {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .hero-cta {
    display: flex;
    .hero-cta-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      .hero-ph-icon {
        margin-right: 0.5rem;
      }
      .hero-cta-call-text {
        font-weight: 300;
        padding-bottom: 3px;
        margin-right: 1.5rem;
      }
      .hero-cta-btn {
        font-size: var(--font-size-2xl);
        padding: 0.4rem 1rem;
      }
    }
  }
}

.hero-container {
  width: 530px;
  .hero-h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 479px) {
  .hero-container {
    width: 100%;
  }
}
