.home-container {
  background-image: linear-gradient(
      296deg,
      rgba(0, 157, 255, 0.54),
      rgba(255, 255, 255, 0) 22%
    ),
    linear-gradient(134deg, rgb(85, 0, 255) 43%, rgba(255, 255, 255, 0)),
    url(../../assets/Business-VoIP-Phone-Service.jpg);
  background-position: left 35% bottom 15%;
  background-size: cover;
}

.hero-container {
  width: 530px;
}

@media screen and (max-width: 479px) {
  .hero-container {
    width: 100%;
  }
}