.riz {
    display: flex;
    background-color: #fa8700;
    width: 50%;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.riz:hover {
    transform: scale(1.005);
}

.riz:active {
    transform: scale(0.99);
}