.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.131);
  max-width: 100%;
  color: white;
  font-size: var(--font-size-lg);
  padding: 0 60px;

  .nc-logo { 
    display: flex;
    align-items: center;
    img {
      width: 200px;
      max-width: 11rem;
      &:hover {
        opacity: 70%;
      }
    }
  }

  .hamburger-menu {
    display: none;
  }
  
  .nav-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    column-gap: 48px;
    margin: 0;
  
    li {
      height: auto;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
  }
}

  
@media screen and (max-width: 479px) {
  .navigation {
  padding: 0 0 0 40px;
  align-items: center;

  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px 26px;
    svg {
      width: 30px;
      height: 30px;
      fill: #FFF;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.091);
    }
  }

  .nav-links-container {
    display: none;
  }
}
}