.contact-container {
  display: flex;
  background-color: rgb(32, 26, 44);
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  column-gap: 1rem;
  .contact-section-callnow {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    .contact-section-callnow-title {
      margin: 0;
      font-weight: 300;
      font-size: var(--font-size-2xl);
    }
    .contact-section-callnow-btn {
      font-size: var(--font-size-2xl);
      padding: 0.3rem 1rem 0.4rem 1rem;
    }
  }
  .contact-section-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    .contact-section-email-title {
      margin: 0;
      font-weight: 700;
      font-size: var(--font-size-2xl);
    }
    .contact-section-email-btn {
      background-color: yellow;
      color: black;
      font-size: var(--font-size-2xl);
      padding: 0.3rem 1rem 0.4rem 1rem;
    }
  }
}
