#root {
  max-width: 100%;
}

.content-padding {
  display: flex;
  flex-flow: row;
  padding: 130px 20%;
}
.hero-h1 {
  display: inline;
  font-size: var(--font-size-3xl);
  margin-bottom: var(--font-size-xl);
  color: white;
  border-bottom: 5px solid yellow;
}
.hero-text {
  font-size: var(--font-size-xl);
  color: white;
  font-weight: 200;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 479px) {
  .content-padding {
    padding: 50px 40px;
    flex-flow: column;
  }

  .hamburger-menu {
    display: block;
  }

  .nav-links-container {
    display: none;
  }

  .hero-text {}
}