#root {
  max-width: 100%;
}

.content-padding {
  display: flex;
  flex-flow: row;
  padding: 0 400px;
  padding-top: 100px;
}
.hero-h1 {
  font-size: var(--font-size-3xl);
  color: white;
  border-bottom: 5px solid yellow;
}
.hero-text {
  font-size: var(--font-size-xl);
  color: white;
  font-weight: 200;
}

.hamburger-menu {
  display: none;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  column-gap: 48px;

  li {
    height: auto;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .content-padding {
    padding: 0 40px;
    padding-top: 50px;
    flex-flow: column;
  }

  .hamburger-menu {
    display: block;
  }

  .nav-links-container {
    display: none;
  }

  .hero-text {}
}